@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  font-style: normal;
  font-weight: normal;
}
.wrapper {
  box-sizing: border-box;

  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  justify-content: center;
  font-family: Mont;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.signform {
  margin-top: 72px;
  font-family: Mont;
}
.back_link {
  text-decoration: none;
  color: #313037;
  font-family: Mont;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.signform_signin {
  margin-top: 32px;
  font-family: Mont;
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
  text-align: left;
}
.forregist {
  width: 544px;
  height: 56px;
  padding-left: 20px;
  font-family: Mont;
  font-size: 15px;
  font-weight: 800;
  line-height: 25.56px;

  background-color: #ffffff;
}

.signform_form {
  margin-top: 72px;
  width: 624px;
  height: 400px;

  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #dadada;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.form_input {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.form_forgot {
  margin-top: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.form_button {
  margin-top: 45px;
  height: 56px;
  width: 400px;

  background: #313037;

  font-family: Mont;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.form_button:hover {
  background-color: #4b4a4d;
}

.form_button:active {
  background-color: #313037;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.form_accout {
  margin-top: 48px;
  display: flex;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.accout_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #313037;

  text-decoration: none;
}

@media (max-width: 375px) {
  .signform_form {
    padding: 10px;
  }
  .signform {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .forregist {
    width: 320px;
  }
  .signform_form {
    width: 360px;
  }

  .form_button {
    width: 330px;
  }

  .signform_signin {
    font-size: 36px;
    line-height: 60px;
  }
}
