.App {
    display: flex;
    height: 100vh; /* Высота на весь экран */
    width: 100vw; /* Ширина на весь экран */
}

.map {
    flex-grow: 1; /* Занимает оставшееся пространство */
    height: 100%;
}
