.popup-content {
  text-align: center;
  font-family: Mont;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.56px;
}

.popup-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: Mont;
  font-size: 13px;
  font-weight: 800;
  line-height: 25.56px;
  text-align: left;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: #0b63f6;
  box-shadow: 0 5px 0 #003cc5;
}
.popup-button:hover {
  background: #003cc5;
  box-shadow: none;
  position: relative;
  top: 5px;
}
.popup_buttons {
  display: flex;
  gap: 20px;
}
